@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&family=Roboto&display=swap');body {
  background-color: #1C2329;
}

.MainContainer {
  color: white;
  padding: 0 25px;
}

body::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#Home {
}


/* Gradient Color here */

.gradientPurple {
  width: 350px;
  height: 351.41px;
  background-color: #7721D6;
  filter: blur(370.5px)
}

.gradientBlue {
  width: 350px;
  height: 350px;
  background-color: #3AA3EF;
  filter: blur(370.5px);

}

#Home {
  /*  */
}

#AboutMe {
  position: relative;
}

#Skills {
  /* display: none; */
  position: relative;
}

#Projects {
  /* display: none; */
  position: relative;
}

#Contact {
  /* display: none; */
}

/* Home section */

.navContainer {
  display: none;
  /* display: flex; */
  flex-wrap: wrap;
}

.homeUl {
  display: flex;
}


.portfolioButton {
  background-color: #7721D6;
  border: none;
  padding: 15px 35px;
  border-radius: 15px;
}

.portfolioLink {
  font-family: Outfit;
  color: white;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  text-decoration: none;
}

.homeUl {
  list-style-type: none;
}

.homeLinkHead {
  font-family: Outfit;
  color: white;
  font-weight: 700;
  font-size: 24px;
  font-style: normal;
  text-decoration: none;
}

.homeLink {
  font-family: Outfit;
  color: white;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  text-decoration: none;
}

.homeMainContainer {
  position: relative;
}

.homeColumns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.homeImage {
  max-width: 423px;
  height: 447px;
}

.homeMainName {
  align-self: center;
  text-align: left;
}

.homeName {
  font-family: Outfit;
  /* font-size: 128px; */
  font-weight: 700;
  text-transform: uppercase;
  line-height: 128px;
  margin: -5px;
  font-size: clamp(4.875rem, 3.5357rem + 5.9524vw, 8rem);}

.homeSubName {
  font-family: Outfit;
  font-weight: 700;
  /* font-size: 53px; */
  max-width: 60em;
  margin: 0;
  font-size: clamp(1.5625rem, 0.8125rem + 3.3333vw, 3.3125rem);}

.homeInfo {
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  max-width: 632px;
  line-height: 27.5px;
  margin-bottom: 0; 
}

/* media queries for home */

@media (max-width: 1110px) {
  .homeName {
    font-family: Outfit;
    /* font-size: 128px; */
    text-align: center;
  }

  .homeInfo {
    font-family: Roboto;
    font-weight: 400;
    /* font-size: 20px; */
    max-width: 632px;
    line-height: 27.5px;
    margin-bottom: 0; 
    text-align: center;
  }

  .homeSubName {
    font-family: Outfit;
    font-weight: 700;
    /* font-size: 35px; */
    max-width: 60em;
    margin: 0;
    text-align: center;
  }
  
}

@media (max-width: 700px) {
  .homeName {
    font-family: Outfit;
    /* font-size: 95px; */
    text-align: center;
    margin-bottom: -20px;
  }

  .homeSubName {
    font-family: Outfit;
    font-weight: 700;
    /* font-size: 35px; */
    max-width: 60em;
    margin: 0;
    text-align: center;
  }

  .homeInfo {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    max-width: 632px;
    line-height: 27.5px;
    margin-bottom: 0; 
    text-align: center;
    margin-top: 10px;
  }
}


/* About section */

.aboutColumns {
  display: flex;
  justify-content: center;
  gap: 70px;
  flex-wrap: wrap;
}

.aboutImages {
  align-self: center;
}

.aboutImage {
  width: 100%;
  max-width: 462px;
  height: auto;
  /* margin-left: 20px; */
  /* height: 390px; */
}

.aboutName {
  font-family: Outfit;
  font-weight: 500;
  font-size: var(--sub-header-font);
  text-transform: uppercase;
}

.aboutSubName {
  max-width: 525px;
  font-family: Outfit;
  font-weight: 600;
  /* font-size: 51px; */
  line-height: 51px;
  margin-bottom: 15px;
  /* font-size: clamp(18px, 8vw, 55px); */
  font-size: var(--header-font);
}

.aboutInfo {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  max-width: 524px;
  line-height: 27.5px;
  margin: 0 0 20px;
}

/* media */

@media (max-width: 560px) {
  .aboutMainName {
    /* margin-left: 11px; */
  }

  .aboutName {
    font-size: 19px;
  }

  .aboutSubName {
    /* font-size: 41px; */
    /* margin-bottom: 40px; */
  }

  .aboutInfo {
    /* font-size: 17px; */
    /* margin: 0 0 41px 0; */
  }
}



/* Skills section */

.skillHeader {
  margin-right: 448px;
  margin-bottom: 20px;
  /* position: relative; */
  /* top: -200px; */
  /* right: 190px; */
}

.skillContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.skillName {
  font-family: Outfit;
  font-weight: 500;
  font-size: var(--sub-header-font);
  line-height: 27.5px;
}

.skillBox {
  /* position: absolute; */
  display: grid;
  gap: 20px;
  /* display: grid; */
  /* grid-template-columns: repeat(5, 203px); */
  /* justify-content: center; */
  grid-auto-flow: column;
}

.SkillBox:nth-child(5n + 1) {
  grid-column: 1;
}


.skillBoxName {
  font-family: Outfit;
  color: black;
  padding: 5px 17px;
  background-color: #F9EFE7;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  text-transform: capitalize;
}

.skillInfo {
  font-family: Outfit;
  font-weight: 600;
  font-size: var(--header-font);
  max-width: 650px;
}


.SkillBox {
  position: relative;
  width: 203px;
  height: 191px;
  background-color: #19191B;
  border-radius: 10px;
  /* margin: 20px 0; */
  /* flex: 1 1 auto; */
}

.skillImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
  /* margin-top: 10px;; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.skillNames {
  position: absolute;
  /* text-align: center; */
  /* left: 50%;
  margin-left: auto;
  text-align: center;
  bottom: 10px; */
  top: 70%;
  left: 50%;
  transform: translate(-50%, 50%);
}



.imagePython {
  width: 94px;
  height: 93px  
}
.imageJavaScript {
  width: 107px;
  height: 107px  
}
.imageJava {
  width: 83px;
  height: 112px  
}
.imageC {
  width: 93;
  height: 103px  
}
.imageSQL {
  width: 107px;
  height: 107px  
}
.imageHTML {
  width: 95px;
  height: 95px  
}
.imageCSS {
  width: 85px;
  height: 95px  
}
.imageDjango {
  width: 75px;
  height: 95px
}
.imageFlask {
  width: 165px;
  height: 173px
}
.imageReact {
  width: 99px;
  height: 86px
}

@media (max-width: 1107px) {
  .skillContainer {
    align-items: normal;
  }
  
  .skillHeader {
    margin-right: 0;
  }
  
}

@media (max-width: 1120px) {
  .skillContainer {
    margin-left: 55px;
  }

  .skillBox {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 1004px) {
  
  .skillContainer {
    margin-left: 0;
  }

  .skillBox {
    grid-auto-flow: row;
  }

  .SkillBox {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    align-items: center;
    gap: 20px;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #19191B;
    border-radius: 10px;
  }
  
  .skillImage {
    position: inherit;
    top: 0;
    left: 0;
    transform: none;
  }
  
  .skillNames {
    position: inherit;
    top: 0;
    left: 0;
    transform: none;
  }

  .imageFlask {
    width: 75px;
    height: 100px
  }

  
}

@media (max-width: 702px) {
  .imagePython {
    width: 80px;
    height: 80px;
  }
  .imageJavaScript {
    width: 80px;
    height: 80px  
  }
  .imageJava {
    margin-left: -15px;
    width: 70px;
    height: 85px  
  }
  .imageC {
    width: 70px;
    height: 80px;
    margin-left: 20px;  
  }
  .imageSQL {
    width: 85px;
    height: 85px  
  }
  .imageHTML {
    width: 85px;
    height: 85px  
  }
  .imageCSS {
    width: 75px;
    height: 85px  
  }
  .imageDjango {
    width: 65px;
    height: 85px
  }
  .imageFlask {
    width: 100px;
    height: 85px
  }
  .imageReact {
    width: 99px;
    height: 86px
  }
}

/* Projects */

.projectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectColumns {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
  gap: 35px;
  margin: 0 0 50px 0;
}

.projectName {
  font-family: Outfit;
  font-weight: 500;
  font-size: 21px;
  line-height: 27.5px;
  text-transform: uppercase;
}

.skillBoxContainer {
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skillsBox:nth-child(4n + 1) {
  grid-column: 1;
}



.projectProject {
  /* display: flex;
  align-items: center;
  justify-content: center; */
}


.projectSubName {
  font-family: Outfit;
  font-weight: 600;
  font-size: var(--header-font);
  max-width: 789px;
  margin-right: 311px;
  margin-bottom: 20px;
}

.projectDate {
  font-family: Outfit;
  font-weight: 500;
  font-size: clamp(1.25rem, 1.2169rem + 0.1176vw, 1.3125rem);  line-height: 27.5px;
  text-transform: uppercase;
}

.projectTitle {
  font-family: Outfit;
  font-weight: 600;
  font-size: clamp(2.1875rem, 1.8566rem + 1.1765vw, 2.8125rem);
}

.projectInfo {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  max-width: 524px;
  line-height: 27.5px;
  margin: 20px 0;
}

@media (max-width: 1152px) {
  .projectSubName {
    margin-right: 0;
    max-width: 530px;
  }

  .skillBoxContainer {
    max-width: 520px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}



/* contacts */

.contactColumns {
  display: flex;
  gap: 35px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.contactInput {
  width: 100%;
  max-width: 535px;;
}

.contactButton {
  /* max-width: 435px; */
  width: 100%;
  color: white;
  border: none;
  background-color: transparent;
  font-family: Roboto;
  font-size: 15px;
}

.contactBorderBottom {
  border: none;
  margin: 0 0 20px 0;
  /* width: 435px; */
  /* max-width: 544px; */
  border-bottom: 1px solid white;
}




.contactName {
  padding: 7px 5px;
}

.contactEmail {
  padding: 7px 5px;
}

.contactThoughts {
  padding: 7px 5px 25px 5px;
}

.contactButton::placeholder {
  font-family: Roboto;
  font-size: 15px;
  color: white;

}

.contactButton:focus {
  outline: none;
}

.contactSubmit {
  background-color: #7721D6;
  border: none;
  padding: 15px 35px;
  border-radius: 15px;
  width: 100%;
  /* max-width: 535px; */
}


.contactMainName {
  font-family: Outfit;
  font-weight: 500;
  font-size: 21px;
  line-height: 27.5px;
  text-transform: uppercase;
}

.contactSubName {
  font-family: Outfit;
  font-weight: 600;
  font-size: var(--header-font);
}

.contactInfo {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  max-width: 544px;
  /* height: 110px; */
  line-height: 27.5px;
  /* margin: 20px 0; */
}

@media (max-width: 452px) {
  .contactSubName {
    margin-bottom: 10px;
  }
}


:root {
  --primary-color: #456;
}

:root {
  --sub-header-font: 21px;
  --header-font: clamp(2.1875rem, 1.8875rem + 1.6vw, 3.1875rem);
}
